<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- Site Metas -->
    <title>Alumni Meet CSE</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- LOADER -->
    <div id="preloader">
      <div class="preloader pulse">
        <h3>Alumni Meet</h3>
      </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
      <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"
            ><img src="images/logo-shit.JPG" alt="image"
          /></a>
        </div>
      </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="home-slider">
      <ul class="rslides">
        <li><img src="images/slider-01.jpg" alt="" /></li>
        <li><img src="images/slider-02.jpg" alt="" /></li>
        <li><img src="images/slider-03.jpg" alt="" /></li>
      </ul>
      <div class="lbox-details">
        <h1>Computer Science & Engineering Dept. RVCE</h1>
        <h2>We cordially invite you to join alumni meet</h2>
        <div class="countdown main-time clearfix">
          <div id="timer">
            <h3>12 December 2020 7:00 PM</h3>
            <div id="days"></div>
            <div id="hours"></div>
            <div id="minutes"></div>
            <div id="seconds"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Banner -->
    <div id="wedding" class="wedding-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>CS-Virtual Alumni Meet 2020</h2>
              <p>
                Please click the join meeting button to attend the alumni meet
                2020
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-6" style="text-align: center">
            <div class="serviceBox">
              <div class="service-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <h3 class="title">Alumni Meet CSE Dept.</h3>
              <h4>12 December 2020 7:00 pm,Saturday</h4>
              <div class="description">
                <p>(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi 2 hrs</p>
                <p>Meeting number (access code): 158 532 7777</p>
                <p>Meeting password: JjPaDWBu378</p>
                <p>Join from a video system or application</p>
                <p>Dial 1585327777@rvce.webex.com</p>
                <p>
                  You can also dial 210.4.202.4 and enter your meeting number.
                </p>
                <p>Join by phone use VoIP only</p>
                <div class="event-inner">
                  <a
                    href="https://rvce.webex.com/rvce/j.php?MTID=mbf6bc640a96dd2f4d343b8a3d94859d2"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Join Meeting
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact" class="contact-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>Register</h2>
              <p>Please register in the given form</p>
            </div>
            <div class="h_iframe" style="text-align: center">
              <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSf6yf868LDlebfcYHiH613SjVJViR-jY7cgGWdtnR3vnnISYw/viewform?embedded=true"
                width="100%"
                height="640"
                title="register"
                marginheight="0"
                marginwidth="0"
                frameborder="0"
                >Loading…</iframe
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="contact-block"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Footer -->
    <footer class="footer-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="footer-company-name">
              All Rights Reserved. &copy; 2020
              <a href="https://rvce.edu.in//cs-csedept"
                >Computer Science Dept</a
              >
              Design By :
              <a href="https://www.linkedin.com/in/bhanu-prakash-ab2557a4/"
                >Bhanu Prakash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- ALL JS FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.pogo-slider.min.js"></script>
    <script src="js/slider-index.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script src="js/timeLine.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
